body{
	background-color: #306ef4;
	color: #ffffff;
}

header{
	font-size: 52px;
	text-align: center;
	font-family: Abel;
	font-variant: small-caps;
	padding: 100px 0 50px;
}

h2{
	background-color: #ffffff;
	font-family: Abel;
	color: #000000;
	padding: 30px 0 30px;
	text-align: center;
}