html {
	scroll-behavior: smooth;
	-webkit-animation: fadein 2s;
}

body {
	font-family: Abel;
	background-color: #ffffff;
	color: #000000;
	opacity: 1;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1 {
	background-image: url("images/bg-1.jpg");
	min-height: 100%;
}

ul {
	font-variant: small-caps;
	font-style: bold;
    list-style-type: none;
    margin: 0;
    padding-right: 80px;
    overflow: hidden;	
	float: left;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: #edf3ff;
	top: 0;
	border-bottom: 2px solid #306ef4;
}

ul a {
	float: left;
	padding: 0 40px 0;
	color: #2c6acc;
	font-size: 35px;
	text-decoration: none;
}

ul a:hover {
	text-decoration: none;
}

li {
    float: right;
}

li a {
    display: block;
	color: #2c6acc;
    text-align: center;
    padding: 0 40px 40px;
	transition: color .2s ease-in;
	text-decoration: none;
}

li a:hover {
    color: #132d56;
	text-decoration: none;
}

ul.large {
	height: 120px;
}
ul.large img {
	margin-top: 0;
}
ul.large li {
}

ul.small {
	height: 60px;
}
ul.small img {
}
ul.small li {
}

ul,
a,
li,
li a {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	padding: 300px 0 10px;
	text-align: center;
	position: relative;
	font-variant: small-caps;
	margin-top: 40px;
	height: 100%;
	background-color: none;
}

hr {
    border-color: #306ef4;
    border-width: 3px;
    max-width: 100px;
	padding: 10px 0 10px
}

p {
	font-family: Abel;
	font-size: 30px;
	color: #000000;
	text-align: center;
	position: relative;
	font-variant: small-caps;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}