body{
	background-color: #ffffff;
	color: #000000;
}
header{
	background-color: #306ef4;
	color: #ffffff;
	font-size: 70px;
	text-align: center;
	font-family: Abel;
	font-variant: small-caps;
	padding: 100px 0 80px;
	position: relative;
}
h2{
	font-family: Abel;
	font-weight: bold;
	color: #000000;
	padding: 150px 0 150px;
	text-align: center;
	position: relative;
}